body{
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 62px;
    background: #fffff;
}

header.jumbotron{
    margin-bottom: 1em;
}

.navbar-link{
    margin: 0 .25em;
}

body.modal-open {
    overflow: auto;
}
